/* RESET */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(15, 15, 15);
    height: 90vh;
    width: 100vw;
    overflow: auto;
    padding-bottom: 100px;
}

.option{
    color: white;
    text-align: right;
    padding-top: 10px;
}

.option span{
    background-color: rgb(99, 99, 99);
    margin-right: 10px;
    padding: 5px 10px;
    line-height: 10px;
    vertical-align: middle;
    border-radius: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.image{
    position: relative;
    height: 200px;
    width: 200px;
    background-image: url(https://picsum.photos/200);
}

.subject{
    color: white;
    background-color: rgba(99, 99, 99, 0.8);
    width: 120px;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}